body {
  background-color: #e2edff;
}
.jumbotron {
  background-image: url(antoine-rault-IhWRrZx4-kk-unsplash.jpg);
  background-color: transparent;
}
#projects {
  background-color: #e2edff;
  background-image: url(antoine-rault-IhWRrZx4-kk-unsplash.jpg);
}
a {
  text-decoration: none;
}
#contact {
  background-color: white;
}
#about {
  background-color: white;
}
footer {
  background-color: white;
}
#projectstext {
  padding-top: 5rem;
}

#abouttext {
  padding-top: 5rem;
}
